@use "variables";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

body.loading {
  background: black;
}

body.loading * {
  opacity: 0;
  visibility: hidden;
}

::-moz-selection {
  background-color: #6229BF;
}

::selection {
  background-color: #6229BF;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.001s !important;
            animation-duration: 0.001s !important;
    -webkit-transition-duration: 0.001s !important;
            transition-duration: 0.001s !important;
  }
}

@use "variables";
.nav {
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.nav__links, .nav__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  list-style: none;
}

.nav__social-links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.nav__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  line-height: 2;
  outline: none;
  text-decoration: none;
  color: #FFC5EA;
  opacity: .9;
  -webkit-transition: opacity .1s ease, -webkit-transform .1s ease;
  transition: opacity .1s ease, -webkit-transform .1s ease;
  transition: opacity .1s ease, transform .1s ease;
  transition: opacity .1s ease, transform .1s ease, -webkit-transform .1s ease;
}

.nav__social-link:hover, .nav__social-link:focus {
  opacity: 1;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav__social-link svg {
  width: 2rem;
  height: 2rem;
  fill: #FFC5EA;
  margin-left: .5rem;
}

.nav__links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 33.3%;
  border-left: 3px solid #37176b;
  text-align: center;
  z-index: 1;
  overflow-x: hidden;
}

.nav__item:last-child {
  border-right: 3px solid #37176b;
}

.nav__link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 2rem;
  line-height: 2;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFC5EA;
}

.nav__link::before, .nav__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-color: #6229BF;
  z-index: -1;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.nav__link::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav__link:focus::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link::after {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.nav__link.in-left::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav__link.in-left:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link.in-right::before {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav__link.in-right:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@use "variables";
.cursor {
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: translate(-150%, -150%);
          transform: translate(-150%, -150%);
}

.cursor--small {
  width: 30px;
  height: 30px;
  z-index: 100;
  border: 3px solid purple;
  opacity: .8;
}

.cursor--big {
  width: 70px;
  height: 70px;
  border: 6px solid #670067;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: 0;
  -webkit-animation: show-shadow-cursor 1s 2s forwards;
          animation: show-shadow-cursor 1s 2s forwards;
  -webkit-transition: -webkit-transform 2s ease-out;
  transition: -webkit-transform 2s ease-out;
  transition: transform 2s ease-out;
  transition: transform 2s ease-out, -webkit-transform 2s ease-out;
}

@-webkit-keyframes show-shadow-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .3;
  }
}

@keyframes show-shadow-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .3;
  }
}

.btn {
  position: relative;
  margin: 2rem;
  padding: 1.5rem 2.5rem;
  background: none;
  border: none;
  color: #FFC5EA;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #07001f;
  overflow: hidden;
}

.form {
  min-height: 50rem;
  max-width: 75rem;
  width: 90%;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
  background-color: #2a0b42;
  color: white;
  opacity: 0;
  -webkit-animation: slide-right .5s ease-out forwards;
          animation: slide-right .5s ease-out forwards;
}

.form__heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 1rem;
}

.form__label {
  font-size: 2.5rem;
  font-weight: bold;
}

.form__input, .form__message {
  font-size: 2rem;
  font-family: inherit;
  line-height: 2;
  padding: .5rem 1rem;
  background-color: #07001f;
  color: white;
  border: none;
  opacity: 0;
  -webkit-animation: make-visible .8s .5s ease-out forwards;
          animation: make-visible .8s .5s ease-out forwards;
}

.form__input:focus, .form__message:focus {
  outline: 2px solid #6229BF;
}

.form__message {
  resize: none;
}

.form__btn {
  width: 12rem;
  overflow-x: hidden;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  outline: none;
  -webkit-animation: appear .5s .8s ease-out forwards;
          animation: appear .5s .8s ease-out forwards;
}

.form__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6229BF;
  z-index: -1;
}

.form__btn::before {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
}

.form__btn:hover::before, .form__btn:focus::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: .75;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: .75;
  }
}

@-webkit-keyframes make-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes make-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1400px) {
  .nav__link {
    font-size: 1.8rem;
  }
  .form__heading {
    font-size: 3rem;
  }
  .form__label {
    font-size: 2rem;
  }
  .form__input, .form__message {
    font-size: 1.8rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
    width: 100%;
  }
  body {
    width: 100%;
  }
  .nav {
    left: 0;
    bottom: 0;
    top: auto;
    -webkit-transform: none;
            transform: none;
    padding: 0;
  }
  .nav__links {
    width: 100%;
  }
  .nav__social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    margin-top: 1rem;
    width: 100%;
  }
  .nav__social-link {
    font-size: 1.8rem;
  }
  .nav__item {
    border: 3px solid #6229BF;
  }
  .nav__item:last-child {
    border-left: none;
  }
  .nav__item:first-child {
    display: none;
  }
  .nav__link {
    line-height: 3;
    font-size: 1.4rem;
  }
  .form {
    height: 70%;
    margin-bottom: 10%;
  }
  .form__input, .form__message {
    z-index: 1;
  }
  .cursor {
    z-index: 0;
  }
  .btn {
    margin: 0;
  }
}
/*# sourceMappingURL=contact.css.map */