@import "../styles/variables";
@import '../styles/global';
@import '../styles/nav';
@import '../styles/cursor';

.btn {
  position: relative;
  margin: 2rem;
  padding: 1.5rem 2.5rem;
  background: none;
  border: none;
  color: $text-color;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  user-select: none;  
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  overflow: hidden;
}

.form {
  min-height: 50rem;
  max-width: 75rem;
  width: 90%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  background-color: darken(#2D0C46, 1%);
  color: white;
  opacity: 0;
  animation: slide-right .5s ease-out forwards;
  
  &__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 1rem;
  }
  
  &__label {
    font-size: 2.5rem;
    font-weight: bold; 
  }
  
  &__input, &__message {
    font-size: 2rem;
    font-family: inherit;
    line-height: 2;
    padding: .5rem 1rem;
    background-color: $bg-color;
    color: white;
    border: none;
    opacity: 0;
    animation: make-visible .8s .5s ease-out forwards;
    
    &:focus {
      outline: 2px solid $primary-color;
    }
  }
  
  &__btn {
    width: 12rem;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    outline: none;
    animation: appear .5s .8s ease-out forwards;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      z-index: -1;
    }

    &::before {
      transition: transform .3s ease;
      transform: translateX(-90%);
    }

    &:hover::before, &:focus::before {
      transform: translateX(0);
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0%);
    opacity: .75;
  }
}

@keyframes make-visible {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: translateY(500%)
  }
  100% {
    opacity: 1; 
    transform: translateY(0)
  }
}

@media (max-width: 1400px) {
  
  .nav {
    &__link {
      font-size: 1.8rem;
    }
  }

  .form {
    &__heading {
      font-size: 3rem;
    }

    &__label {
      font-size: 2rem;
    }

    &__input, &__message {
      font-size: 1.8rem;
    }
  }
}


@media (max-width: 700px) {
  html {
    font-size: 50%;
    width: 100%;
  }
  
  body {
    width: 100%;
  }
  
  .nav {
    left: 0;
    bottom: 0;
    top: auto;
    transform: none;
    padding: 0;
    
    &__links {
      width: 100%;
    }
    
    &__item {
      border: 3px solid $primary-color;
      
      &:last-child {
        border-left: none;
      }
    }
    
    &__item:first-child {
      display: none;
    }
    
    &__link {
      line-height: 3;
    }
  }
  
  .form {
    height: 70%;
    margin-bottom: 10%;
    
    &__input, &__message {
      z-index: 1;
    }
  }
  
  .cursor {
    z-index: 0;
  }
    
  .btn {
    margin: 0;
  }
  
}
