@import "../styles/variables";
@import '../styles/global';
@import '../styles/nav';
@import '../styles/cursor';

.projects {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  background-color: $bg-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  &__carousel {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  &__carousel-wrapper {
    position: relative;
    width: 70%;
    height: 100%;
    z-index: 1;
    transform-style: preserve-3d;
    transform: scale(0);
    animation: grow .5s ease forwards;

    @keyframes grow {
      100% {
        transform: scale(1);
      }
    }
  }
  
  &__project {
    position: absolute;
    left: 50%;
    top: 65%;
    width: 50%;
    min-width: 400px;
    height: 50%;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    font-size: 5rem;
    color: black;
    box-shadow: 0 0 10px #652EC740;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    outline: none;    
    transition: transform .8s ease;
    
    
    &:first-child {
      background: url(/images/quotes.jpg) no-repeat center top/cover;
      transform: perspective(400px) translate3d(-150%, -125%, -200px);
    }
    
    &:nth-child(2) {
      background: url(/images/restaurant.jpg) no-repeat center center/cover;
      transform: perspective(400px) translate3d(-50%, -50%, 0);
    }
    
    &:nth-child(3) {
      background: url(/images/card-generator.jpg) no-repeat center center/cover;
      transform: perspective(400px) translate3d(0, -125%, -200px);
    }
    
    &:nth-child(4) {
      background: url(/images/scales.jpg) no-repeat center top/cover;
      transform: perspective(400px) translate3d(-100%, -225%, -400px);
    }    
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(black, .7);
      z-index: 2;
      transition: opacity .5s ease;
      opacity: 1;
    } 
    
    &:hover::before, &:focus::before {
      opacity: 0;
    }    
    
    &.active {
      cursor: default;
      
      &::before {
        opacity: 0;
      }
      
      &:hover, &:focus, &:focus-within {
        
        &::before {
          opacity: 1;
        }
      }

      .card {
        display: flex;
      }

      &:hover .card, &:focus .card, &:focus-within .card {
        outline: none;
        transform: perspective(2000px) translateY(0) rotateX(0deg);
      }
    }
  }
  
  &__btn {
    position: relative;
    display: block;
    display: block;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $text-color;
    border: none;
    outline: none;
    background: none;
    overflow-x: hidden;
    
    &--left {      
      left: 0;
      opacity: 0;
      animation: slide-in-left .3s .4s ease forwards;

      @keyframes slide-in-left {
        0% {
          transform: translateX(-200%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      &::before {
        content: "<";
        display: inline-block;
        padding-right: 2rem;
      }
      
      &:hover::before, &:focus::before {
        animation: float-left .3s ease infinite alternate;
      }
      
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background-color: $primary-color;
        transition: transform .3s ease;
        transform: translateX(100%);
      }   
  
      &:hover::after, &:focus::after {
        transform: translateX(0);
      }
      
    }
    
    &--right {      
      right: 0;
      opacity: 0;
      animation: slide-in-right .3s .4s ease forwards;

      @keyframes slide-in-right {
        0% {
          transform: translateX(200%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      &::after {
        content: ">";
        display: inline-block;
        padding-left: 2rem;
      }
      
      &:hover::after, &:focus::after {
        animation: float-right .3s ease infinite alternate;
      }
      
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background-color: $primary-color;
        transition: transform .3s ease;
        transform: translateX(-100%);
      }   
  
      &:hover::before, &:focus::before {
        transform: translateX(0);
      }
    }
  }
}

.tools {
  width: 90%;
  max-width: 1140px;
  padding: 2rem;
  height: 20%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: appear 1s .7s ease forwards;

  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
 
  &__item {
    padding: 1rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: 900;
    color: #00FBBF;
    filter: blur(2px);
    transition: filter .5s ease-out;    

    &:hover {
      filter: blur(.5px);
    }
    
  }
}

@keyframes float-left {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-20%);
  }
}

@keyframes float-right {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(20%);
  }
}

.card {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  padding: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  z-index: 3;
  transform: perspective(2000px) translateY(55%) rotateX(-90deg);
  transition: transform .5s ease;
  
  a {
    text-decoration: none;
    color: $text-color;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    outline: none;
    transition: transform .2s ease, opacity .2s ease;
    
    &:hover, &:focus {
      transform: translateY(-5%);
      opacity: .8;
    }
  }
  
  &__title {
    padding: 1rem 0 0 1rem;
    font-size: 3rem;
    line-height: 1;
  }
  
  &__description {
    padding: 1rem 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  &__links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    
    a {
      margin-left: 2rem;
      display: inline-block;
      width: 4rem;
      height: 4rem;
      outline: none;
      transition: transform .3s ease;
      
      &:hover, &:focus {
        transform: translateY(-.5rem);
      }

      img {
        height: 80%;
      }
      
      svg {
        width: 80%;
        height: auto;
      }
    }
  }
  
  
}

@media (max-width: 1400px) {  
  .nav {
    &__link {
      font-size: 1.8rem;
    }
  }
  
  .card {
    height: 100%;
  }
}

@media (max-width: 900px) {
  .projects__btn {
    display: none;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
    width: 100%;
  }
  
  body {
    width: 100%;
  }
  
  .nav {
    left: 0;
    bottom: 0;
    top: auto;
    transform: none;
    padding: 0;
    
    &__links {
      width: 100%;
    }

    &__social-links {
      justify-content: center;
      position: fixed;
      top: 0;
      margin-top: 1rem;      
      width: 100%;
    }

    &__social-link {
      font-size: 1.8rem;
    }
    
    &__item {
      border: 3px solid $primary-color;
      
      &:last-child {
        border-left: none;
      }
    }
    
    &__item:first-child {
      display: none;
    }
    
    &__link {
      line-height: 3;
      font-size: 1.4rem;
    }
  }
    
  .cursor {
    z-index: 0;
  }
  
  
  .btn {
    margin: 0;
  }
  
  .projects {
  
    display: block;
    
    &__carousel {
      padding: 2rem;
      position: static;
      display: block;
      height: 80%;
      display: flex;
      align-items: center;
    }
    
    &__carousel-wrapper {      
      width: 100%;
      display: flex;
      align-items: center;
      overflow-x: auto;
    }
    
    &__project {
      position: relative;
      left: auto;
      top: auto;
      margin-right: 2rem;
      min-width: 250px;
      height: 70%;
      pointer-events: none;
      
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        transform: none;
      } 
      
      &:last-child {
        margin-right: 4rem;
      }
      
      &::before {
        opacity: 1;
      }
      
      &:hover::before {
        opacity: 1;
      }
    }
    
    &__btn {
      display: none;
    }
  }
  
  .card {
    display: flex;
    transform: none;
    pointer-events: auto;
  }
  
  .tools {
    display: none;
  }
}
