@use "variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html * {
  visibility: visible;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow: hidden;

  &.loading {
    background: black;

    * {
      opacity: 0;
      visibility: hidden;
    }
  }
}


::selection {
  background-color: $primary-color;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001s !important;
    transition-duration: 0.001s !important;
    }
  }